@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Syne:wght@400..800&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.syne-font {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  transform: scaleY(0.6);
  transform-origin: center;
}

.syne-header {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  transform-origin: center;
}

/* Mobil ekranlar için stil ayarları */
@media (max-width: 1024px) {
  .syne-font {
    font-size: 100px;
    letter-spacing: -10px;
  }
}

/* Bilgisayar ekranları için stil ayarları */
@media (min-width: 1024px) {
  .syne-font {
    font-size: 250px;
    letter-spacing: -25px;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.scrolling-container {
  overflow: hidden;
  white-space: nowrap;
}

.scrolling-text {
  display: inline-block;
  animation: scroll-left 140s linear infinite;
  /* Increase the duration here */
}

.icon-white {
  filter: invert(1) brightness(100%);
}

.bg-gray-800 {
  background-color: rgba(31, 41, 55, 0.5);
  /* Gray 800 with 50% opacity */
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

.animated-text span {
  position: relative;
}

.animated-text span::before {
  content: "";
  animation: words 20s infinite;
}

.animated-text span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 90%;
  background-color: #000;
  right: -8px;
  animation:
    cursor 0.8s infinite,
    typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid orangered;
  }
}

@keyframes words {

  0%,
  20% {
    content: "DEVELOPER";
  }

  21%,
  40% {
    content: "DESIGNER";
  }

  41%,
  60% {
    content: "DEVELOPER";
  }

  61%,
  80% {
    content: "DESIGNER";
  }

  81%,
  100% {
    content: "DEVELOPER";
  }
}

@keyframes typing {

  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }

  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.custom-dropdown-trigger {
  cursor: pointer;
}